<header>
  <div class="header-content">
    <h1>MY RESUME</h1>
    <nav>
      <ul class="nav-links">
        <li>
            <a href="#" target="_blank" class="nav-button">About</a>
        </li>
        <li>
            <a href="https://nedeljkovicm.itch.io/" target="_blank" class="nav-button">Projects</a>
          </li>
          <li>
            <a href="#" target="_blank" class="nav-button">Contact</a>
            
        </li>
        <li>
            <a href="#" target="_blank" class="nav-button">Download CV</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
