<div class="container">
    <div #canvasContainer id="canvasContainer"></div>
    <div class="text-input">
        <div class="cv-container">
            <div id="header">My Resume</div>
            
            <div class="stuff">
              <h1>Mladen Nedeljković</h1>
             
             
              <a href="tel:+381659253997">+381 65 925 3997</a><br>
              <a href="mailto:nedeljkovicmladen997@gmail.com">nedeljkovicmladen997&#64;gmail.com</a>
                <hr />
             
        
              <p class="head">Interests</p>
              <ul>
                <li>Game Development</li>
                <li>DevOps</li>
                <li>Web Development</li>
                <li>AI and Machine Learning</li>
                <li>Playing Strategy Games</li>
              </ul>
        
              <p class="head">Skills</p>
              <ul>
                <li>Programming Languages: C#, Python, C++, Java</li>
                <li>Game Development: Unity, Unreal, UEFN, ROBLOX, C#</li>
                <li>Web Development: HTML, CSS, JavaScript</li>
                <li>DevOps Tools: AWS, Docker, Jenkins</li>
                <li>Version Control: Git, GitHub</li>
              </ul>
        
              <p class="head">Education</p>
              <ul>
                <li>Electrical Engineering Student, Serbia</li>
                <li>Various Online Courses (Game Development, DevOps)</li>
              </ul>
        
              <p class="head">Experience</p>
              <ul>
                <li>Game Jam Participant - Developed Games in Unity</li>
                <li>Line Operator - Practical Work Experience</li>
                <li>Personal Projects on GitHub: DevOps Pipelines, Practice</li>
                <li>Personal Projects on Itch.io: Game Prototypes</li>
              </ul>
        
              <p class="head">Extracurriculars</p>
              <ul>
                <li>Game Jams</li>
                <li>Creating 3D Models in Blender</li>
                <li>Streaming on Twitch and Kick</li>
              </ul>
        
              <p class="head">Links</p>
              <ul>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/mladen-nedeljkovic-a67433b0/">linkedin.com/mladen-nedeljkovic</a></li>
                <li>GitHub: <a href="https://github.com/Djomlatoir">github.com/Djomlatoir</a></li>
                <li>ItchIO: <a href="https://nedeljkovicm.itch.io/">nedeljkovicm.itch.io/</a></li>
              </ul>
            </div>
        
            <div id="footer">
              <h2 id="name">Mladen Nedeljković</h2>
            </div>
        </div>
        <input type="text" placeholder="Unesite tekst ovde..." />
    </div>
</div>
